In [ ]:
1.Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [ ]:
2.Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [ ]:
3.Write a Pandas program to convert a dictionary to a Pandas series.

In [ ]:
4.Write a Pandas program to convert a NumPy array to a Pandas series.

In [ ]:
5.Write a Pandas program to sort a given Series.
Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [ ]:
6.Write a Pandas program to create the mean and standard deviation of the data of a  Series.

In [ ]:
7. a Pandas program to create a dataframe from a dictionary and display it.

In [ ]:
8.Write a Pandas program to get the first 3 rows of a  DataFrame.

In [ ]:
9.Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
10.Write a Pandas program to display the default index and set a column as an Index in a dataframe.