1.Write a Python program to display the first and last colors from the following list.

list_1 = ["Red","Green","White" ,"Black"]

In [8]:
list_1 = ["Red","Green","White" ,"Black"]

print("first color:",list_1[0])
print("last color:",list_1[-1])

first color: Red
last color: Black

2.Write a Python program to sum the first n positive integers.

In [72]:
def sum(n):
  return (n * (n+1)//2)

n = int(input("enter a positive number:"))
result = sum(n)
print("the sum of the",n,"integer is:",result)

enter a positive number:7
the sum of the 7 integer is: 28

3.Write a Python program to test whether all numbers in a list are greater than a certain number.

In [10]:
numbers = [10,20,30,40]
x = 5
greatest = all(num > x for num in numbers)
if greatest:
    print("all number is greater than",x)
else:
    print("not ll number is greater than",x)

all number is greater than 5

4.Write a Python program to count the number of occurrences of a specific character in a string.

In [23]:
def count_occu(string,char):
  count=0
  for c in string:
    if c == char:
      count += 1
  return count

string = "hey this is a exams"
char = "s"
count_occu(string,char)
print("number of occurances of 'char' in 'string':'occurance'")

number of occurances of '{char}' in 'string':'occurance'

5.Given variables x=100 and y=200, write a Python program to print "100+200=300".

In [14]:
x=100
y=200
c=x+y
print(x,"+",y,"=",c)

100 + 200 = 300

6.Write a Python program to swap two variables.

In [25]:
a = 5
b = 10

a,b=b,a

print("\n swapping:")
print("a =",a)
print("b = ",b)

 swapping:
a = 10
b =  5

7.Write a Python program to remove the first item from a specified list.

In [35]:
list11 = [2,3,4,5,6,7,8]
print(list11)
list11.pop(0)
list11

[2, 3, 4, 5, 6, 7, 8]

[3, 4, 5, 6, 7, 8]

8.Write a Python program to check whether a variable is an integer or string.

In [38]:
def check_vartype(variable):
  if isinstance(variable, int):
    print("the variable is interger.")
  elif isinstance(variable,str):
    print("the variable is string.")
  else:
    print("the variable is neither integer and string.")

check_vartype(2)
check_vartype("hello")

the variable is interger.
the variable is string.

9.Write a Python program to calculate the length of a string.

In [41]:
def calculate_string_length(input_string):
    return len(input_string)

input_string = input("Enter a string: ")
length = calculate_string_length(input_string)
print("Length of the string is:", length)

Enter a string: hellooshshssh
Length of the string is: 13

10.create the following pattern
                     *
                   *   *
                 *   *   *
               *   *    *   *
             *   *    *   *    *

In [68]:
rows = int(input("enter number of rows"))
for i in range(0, rows + 1):
    print(" " * (rows - i), end="")
    for j in range(1,i + 1,1):
      print(" *",end=" ")
    print()

enter number of rows6

      *
     *  *
    *  *  *
   *  *  *  *
  *  *  *  *  *
 *  *  *  *  *  *